@import url('https://fonts.googleapis.com/css?family=Noto+Sans&subset=cyrillic,cyrillic-ext');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Noto Sans', sans-serif;
}

video {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: fixed;
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0;
	overflow: hidden;
}

.content {
	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
	position: absolute;
	width: auto;
	height: auto;
	padding: 10px;
	user-select: none;
}

.flex_tab {	
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  	justify-content: center;

}

.tab {
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    background: rgba(0,0,0, 0.3);
    color: white;
    margin: 10px;
}

.tab:hover {
    background: rgba(0,0,0, 0.5);
}

.big {
	width: 500px !important;
}

.btn {
	padding-top: 10px;
	user-select: none;
}

/*SPRITE*/

.like , .comment , .download {
	display: inline-block;

}

.like:before , .comment:before , .download:before {
	content: "";
	display:inline-block;
	width:15px;
	height:15px;
	background: url(sprites.png) no-repeat; 
	vertical-align:middle;
	margin-right:10px;
	transition: all ease 0.1s;
}

.like:before {
	background-position: 1px -225px;
}

.like:hover::before {
	background-position: -24px -225px;
	cursor: pointer;
}

.comment:before {
	background-position: 1px -199px;
}

.comment:hover::before {
	background-position: -24px -199px;
	cursor: pointer;
}

.download:before {
	background-position: -124px -199px;
}

.download:hover::before {
	background-position: -148px -199px;
	cursor: pointer;
}

/*SPRITE*/

div > div > div > h3 {
	padding: 10px 0;
}

div > div > div > p {
	padding: 0 10px;
}