@import url('https://fonts.googleapis.com/css?family=Krona+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

body {
	background: gray;
}

header {
	width: 100%;
	height: 400px;
	background: lightgray;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.23);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.23);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.23);
}

.firstline {
	width: 100%;
}

.firstline > .logo {
    background: lightgreen;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: inline-block;
    margin-left: 5%;
    margin-top: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.23);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.23);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.23);
}

.secondline {
	text-align: center;
}

.secondline > span {
	font-family: 'Krona One', sans-serif;
	font-size: 3.5em;
	color: darkgray;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	-webkit-transition: all 0.2s ease-out 0.2s;
    -moz-transition: all 0.2s ease-out 0.2s;
    -o-transition: all 0.2s ease-out 0.2s;
    transition: all 0.2s ease-out 0.2s;
	filter: blur(5px);
}

.secondline > span:hover {
	filter: blur(0px);
}

nav {
    list-style: none;
    padding-top: 10px;
    margin-right: 5%;
    display: inline-block;
    float: right;
    clear: both;
}

nav > ul > li {
	list-style: none;
}

nav > ul > li {
	display: inline;
}

nav > ul > li:last-child {
	display: inline;
}

nav > ul > li > a {
	text-decoration: none;
	color: black;
	display: inline-block;
	background: gray;
	padding: 18px 10px 18px 10px;
	-webkit-transition: all 0.2s ease-out 0.1s;
    -moz-transition: all 0.2s ease-out 0.1s;
    -o-transition: all 0.2s ease-out 0.1s;
    transition: all 0.2s ease-out 0.1s;
	border-top-left-radius: 35px;
	border-bottom-right-radius: 35px;
	margin-right: 10px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.23);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.23);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.23);
	font-family: 'Montserrat', sans-serif;
	font-size: 0.7em;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

nav > ul > li > a:hover {
	text-decoration: none;
	color: lightgreen;
	display: inline-block;
	background: #505050;
	padding: 15px 10px 15px 10px;
}

nav > input {
	display: none;
}

main {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	min-height: 610px;
	background: lightyellow;
	margin-top: -100px;
	border-radius: 7px;
}

footer {
	width: 100%;
	margin-top: 10px;
	min-height: 50px;
	background: lightgray;
	-webkit-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.23);
	-moz-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.23);
	box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.23);
	text-align: center;
}

footer > span {
    font-family: 'Krona One', sans-serif;
    margin-top: 10px;
    display: inline-block;	
    -moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

@media screen and (max-width: 640px) {

body {
	min-width: 580px;
}

header {
	width: 100%;
	background: lightgray;
	display: block;
	padding-top: 10px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.23);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.23);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.23);
}

.secondline {
    text-align: center;
    padding-top: 20px;
}

.firstline > .logo {
    background: lightgreen;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.23);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.23);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.23);
}

.secondline > span {
	font-family: 'Krona One', sans-serif;
	font-size: 2.5em;
	color: darkgray;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	-webkit-transition: all 0.2s ease-out 0.2s;
    -moz-transition: all 0.2s ease-out 0.2s;
    -o-transition: all 0.2s ease-out 0.2s;
    transition: all 0.2s ease-out 0.2s;
	filter: blur(5px);
}

.secondline > span:active {
	filter: blur(0px);
}

main {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	min-height: 610px;
	background: lightyellow;
	margin-top: -100px;
	border-radius: 7px;
}

footer {
	width: 100%;
	margin-top: 10px;
	min-height: 50px;
	background: lightgray;
	-webkit-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.23);
	-moz-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.23);
	box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.23);
	text-align: center;
}

footer > span {
    font-family: 'Krona One', sans-serif;
    margin-top: 10px;
    display: inline-block;	
    -moz-user-select: none;
	user-select: none;
}

nav {
    float: left;
    clear: both;
}



nav > ul > li, a {
    color: gray;
    text-indent: -15px;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    padding-left: 20px;
}

nav > ul > li > a {
	text-decoration: none;
	color: black;
	background: transparent;
	padding: 0;
	-webkit-transition: all 0.2s ease-out 0.1s;
    -moz-transition: all 0.2s ease-out 0.1s;
    -o-transition: all 0.2s ease-out 0.1s;
    transition: all 0.2s ease-out 0.1s;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.7em;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	text-align: center;
	margin-left: 35%;
	}

nav > ul > li > a:hover {
	text-decoration: none;
	color: lightgreen;
	display: inline-block;
	background: transparent;
	padding: 0;
}



a:focus {
    color: gray;
    font-weight: 700;
    transition: .2s linear;
}

#menu, label:before, label:after {
    content: " ";
    position: absolute;
    left: 100px;
    width: 40px;
    height: 5px;
    background-color: white;
    border-radius: 2px;
    transition: .5s ease;
}

label {
    padding: 38px 70px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
label:before { top: 50px; }

label:after { top: 70px; }

#menu {
    top: 44px;
    width: 0px;
    transition: .2s ease;
    z-index: 0;
}
#menu li {
    line-height: 0.5;
    pointer-events: none;
    opacity: 0;
}

#menu-toggle:checked + label:before {
    top: 60px;
    left: 30px;
    transform: rotate(-45deg);
}
#menu-toggle:checked + label:after {
    top: 60px;
    left: 30px;
    transform: rotate(45deg);
}
#menu-toggle:checked + label + #menu {
    top: 44px;
    width: 200px;
    height: 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    transition: .3s ease .2s;
    z-index: 1;
}
#menu-toggle:checked + label + #menu li {
    pointer-events: all;
    font: 16pt 'Roboto', sans-serif;
    line-height: 2.3;
    opacity: 1;
    z-index: 2;
    transition: .2s ease .3s;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}


}